.profile{
    .center{
        text-align: center;
    }
    svg.profile-picture{
        font-size: 155px !important;
        margin: 0 auto;
        display: block;
    }

    .MuiTextField-root{
        margin-bottom: 15px;
    }
}