.CardPost{
    padding: 0 !important;

    .media{
        height: 140px;
    }

    .MuiIconButton-root{
        &.enabled{
            svg{
                color: red;
            }
        }
    }
    
}