body{
    margin: 0;
    background-color: #c8c8c8;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiAppBar-colorPrimary,
.MuiFab-primary,
.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover{
    background-color: #000 !important;
    color: #fff !important;
    
    .MuiSvgIcon-root{
        color: #fff !important;
    }
    
}
.MuiButton-contained{
    &.error-theme{
        background-color: rgb(211, 47, 47) !important;
        color: #fff !important;
    }
}
.MuiContainer-root{
    .MuiPaper-root{
        padding: 15px;
    }
    .MuiCard-root{
        padding: 0;
    }
}

.MuiInput-underline:after{
    border-bottom-color:#000 !important;
}
.MuiIconButton-colorPrimary,
.MuiFormLabel-root.Mui-focused,
.MuiCircularProgress-colorPrimary{
    color: #000 !important;
}
